/*Parte del header*/
#navegator {
  background-color: #dbe2ef !important;
}
/*Es para cuando se use en dispositivos no se descuadre*/
#MenuNavegacion {
  margin-right: 75rem;
  margin-left: 1rem;
}
body {
  background-color: #f9f7f7 !important;
  /*Fuente de Google*/
  font-family: "Lato", sans-serif;
}
/*Parte del footer*/
#foot {
  background-color: #3f72af;
  color: #ffffff !important;
  margin-right: 0% !important;
}

#direccion {
  margin-right: 0.3rem;
}

#tlf {
  margin-right: 4.3rem;
}

#discord {
  margin-right: 6.5rem;
}

#quien_soy {
  text-align: left;
}

.icon {
  color: #ffffff;
}

/*Archivo contacto*/
#contacto {
  margin-left: 1rem;
}
#selector{
  background-color: #f1f0f0 !important;
}
h4{
  padding-left: 1rem !important;
  padding-top: 1rem !important;

}
/*Archivo Portfolio*/
#proyectosPort {
  background-color: #ebebeb;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
}

.botonesWebs {
  color: #ffffff;
  text-decoration: none;
}
.botonesWebs > a:link {
  color: #ffffff !important;
  text-decoration: none;
}
.botonesWebs > a:visited {
  color: #ffffff;
  text-decoration: none;
}
.botonesWebs > a:active {
  color: #ffffff;
  text-decoration: none;
}
.card-text {
  height: 8rem;
  padding: 0.5rem;
}
/*Servicios
  -Diseño Web
*/
#mainDesingWeb{
  background-color: #B8B5FF;
  border-radius: 1rem;
}
.servicios{
  background-color: #E4FBFF;
}
#esloganWeb{
  color: blue;
}
.servicios {
  text-align: left !important;
}
.imgServices > img{
height: 25rem;
width: 100%;
padding-right: 1rem;
}
/*
 * Extra utilities
 * Su funcion es extender el main al ancho de pantalla
 */
 .flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


